:root{
    --body-bg:#f5f8ff;
    --box-bg:#fff;
    --input-bg:#f5f8ff;
    --text-color:#2f2d2f;
    --text-second-color:#ccc;
    --border-color:#4267b2;
    --box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body{
    font-family:calibri;
    font-weight: 400;
    line-height: 1.5;
    background-color:rgb(128,215,222);
    color: var(--text-color);

    display: flex;
    justify-content: center;
    padding-top: 100px;

    height: 100vh;
   }

   .box{
    background-color:var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
   }

   .header{
    margin-bottom: 30px;
    text-align: center;
   }
   























/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.dropBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
  border: 4px dashed rgb(117, 112, 112);
  padding: 20px;
}

button{
    margin: 20px;
    padding: 10px;
}

.bg{
    background-image: url("https://images.pexels.com/photos/383568/pexels-photo-383568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
} */
