@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins&display=swap');


*{
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


a {
    text-decoration: none;
}
li {
    list-style-type: none;
}


.navbar{
display: flex;
justify-content: space-around;
align-items    : center;
height         : 10vh;
box-shadow     : rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,108,1) 0%, rgba(0,212,255,1) 83%);}

.logo {
    font-size: 30px;
    margin-left: 30px;
}

.logo:hover{
    border    : 1px solid black;
    padding   : 8px;
    transition: all 0.4s ease-in-out;
    border-radius: 30px;
}


.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.nav-links li {
    color    : black;
    font-size: 18px;
    padding  : 10px 20px;
    gap: 40px;
    margin        : 0 10px;
    cursor        : pointer;
    text-transform: capitalize;
}


.nav-links>a:hover{
    background   : rgb(222, 241, 248);
    border-radius: 25px;
    transition   : all 0.2s ease-in-out;
    border       : none solid black;
    color: white;
}


.LogSi{
    height          : 50px;
    width           : 120px;
    border-radius   : 4px;
    background-color: rgb(45, 115, 214);
    color           : white;
    font-size       : 13px;
    border          : none;
    margin-right: 20px;
}

.LogSi:hover{
    cursor          : pointer;
    background-color: rgb(0, 234, 255);
    transition      : all 0.3s ease-in-out;
    color           : black;
    border: 1px solid rgb(0, 163, 163);
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu-icon {
    border: none;
    text-decoration: none;
    font-size: 20px;
    background: none;
  }


@media (max-width: 768px) {
.logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
}
.nav-links {
    display: none;
}
.nav-links-mobile {
    position        : absolute;
    display         : block;
    list-style      : none;
    box-shadow      : rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left            : 0;
    top             : 10%;
    transition      : all 0.5s ease-in-out;
    width           : 100%;
    background-color: white;
    z-index         : -1;
    transition      : all 0.4s ease-in-out;
}
ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.mobile-menu-icon {
    position  : absolute;
    display   : block;
    right     : 20px;
    transition: 0.4s;
}
}

